.modal#discussion-comment-creation-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: { dismiss: "modal" }} &times;
        %h4.modal-title Add Your Comment
      .modal-body
        = render "discussion_comment_form", discussion: @discussion, comment: @comment, appraisal: @appraisal, organization: @organization
