- breadcrumbs << [@organization.name, organization_appraisals_path(@organization)]
- breadcrumbs << ["Appraisals", organization_appraisals_path(@organization)]
- if @appraisal.archived?
  - breadcrumbs << ["Archived", archived_organization_appraisals_path(@organization)]
- breadcrumbs << [@appraisal.customer.account_name, nil]
- breadcrumbs << [@appraisal.human_title, organization_appraisal_path(@organization, @appraisal)]
- breadcrumbs << "Edit"

%h2 Edit #{@appraisal.appraisal_template.label} Appraisal

= render 'form'
