%p Welcome #{@user.first_name},
%p Your Snap Trade Pro account has been reactivated. Once you create a new password you may start using the application to gather, manage & create online inspections and appraisals.

%p This invitation can be accepted through the link below where you will create your password.
Reactivate Password
%p
  Access the Snap Trade Pro web application by logging into 
  %a{href: "https://app.snaptradepro.com/users/sign_in"} https://app.snaptradepro.com/users/sign_in
  &nbsp;or by going to snaptradepro.com and clicking on 'Client Login' at the top of the page.

%p
  After you have set up your account password you may need to install the Snap Trade Pro Apple iOS app on an iPhone or iPod. To download go to
  %a{href: "https://itunes.apple.com/us/app/snap-trade-pro/id931532400"} https://itunes.apple.com/us/app/snap-trade-pro/id931532400
  &nbsp;in the App Store.
%p
  Canadian downloads available at 
  %a{href: "https://itunes.apple.com/ca/app/snap-trade-pro/id931532400"} https://itunes.apple.com/ca/app/snap-trade-pro/id931532400
  &nbsp;in the App Store

%p Feel free to contact either of us at the email addresses listed below regarding anything Snap Trade Pro.
%br
%p Vince Green vince@inbounddealer.com

%p Don James don@inbounddealer.com

%p ** This reactivation is exclusive to your email address. Please do not share this with anyone else.

%p ** If you don't want to accept reactivation, please ignore this email.
Your account won't be reactivated until you access the link above and set your password.
