= link_to "Edit Customer", edit_organization_customer_path(@organization, @customer),
                           class: "btn btn-default"
- if @customer.archived?
  = link_to "Un-archive Customer",
            archive_organization_customer_path(@organization, @customer, unarchive: true),
            class: "btn btn-default", method: "put"
- else
  = link_to "Archive Customer",
            archive_organization_customer_path(@organization, @customer),
            class: "btn btn-default", method: "put",
            data: { confirm: "Are you sure you want to archive this customer?" }

/ = link_to "Delete Customer", organization_customer_path(@organization, @customer),
/                              method: :delete, class: "btn btn-danger",
/                              data: { confirm: "Are you sure you want to delete this customer?" }
