- breadcrumbs << [@organization.name, organization_appraisals_path(@organization)]
- breadcrumbs << ["Customers", organization_customers_path(@organization)]
- breadcrumbs << [@customer.account_name, organization_customer_path(@organization, @customer)]
- breadcrumbs << "Edit"

%h2 Edit Customer - #{@customer.account_name}

= render "form"
