- if field.showable?(:edit,@organization,current_user)
  = f.input field.to_sym, required: field.required?, label: field.display_attribute(@organization, :label),
            input_html: { value: appraisal.field_value(field.id),
                          name: custom_field_name(field.id),
                          class: "bootstrap-timepicker",
                          "data-dateformat" => "mm/dd/yy" }
