.modal#valuation-url-comment-creation-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: { dismiss: "modal" }} &times;
        %h4.modal-title Add a Comment
      .modal-body
        = render "valuation_url_comment_form", valuation_url: @valuation_url, comment: @comment, appraisal: @appraisal, organization: @organization
