= simple_form_for Checklist.new, remote: true do |f|
  = f.input :name, label: "Name"
  = f.hidden_field :appraisal_id, value: @appraisal.id

  .center-text
    = f.submit nil, class: "btn btn-primary",
             data: { disable_with: "Submitting ..." }
