.modal#check-list-edit-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: { dismiss: "modal" }} &times;
        %h4.modal-title Edit a Check List
      .modal-body
        = render "checklists/check_list_edit_form"