!!!
%html
  %head
    %meta{content:'text/html; charset=UTF-8', "http-equiv" => "Content-Type"}
  %body
    %h1 Pre Launch Registration
    %p
      From: #{@pre_launch_registration.first_name} #{@pre_launch_registration.last_name}
      %br
      Email: #{@pre_launch_registration.email}
