.container-fluid
  .row
    .col-xs-12
      %span.txt-color-white
        Snap Trade Pro is "Software as a Service" built for Heavy Equipment Sales
        %br
        Copyright © 2013 - 2015.
        = link_to "Inbound Dealer Services Inc.", "http://www.inbounddealer.com", target: "_blank"
